header {
    background-image: url(../src/src1/fundoHome.jpg);

}

/*==========================
    Formatação do conteúdo
============================*/
main.homePage section.topicos {
    margin: 0vw 5vw 0vw 5vw;
    padding: 10vw 2vw 5vw 2vw;
    border-radius: 10px 10px 0 0;
}

main.homePage section.topicos {
    display: flex;
}

main.homePage section.topicos #tempoTela {
    margin: 0 0 15vw 0;
    padding-right: 2vw;
}

main.homePage section.topicos #tempoTela p:first-child {
    font-size: 1.5rem;
    margin: 0 0 0 1vw;
    text-align: justify;
}

main.homePage section.topicos #tempoTela h2 {
    font-size: 4vw;
    background-color: black;
    color: white;
    padding: 2vw 3vw 2vw 3vw;
    border-radius: 20px;
    margin: 0 16vw 2vw 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    text-shadow: 3px 3px 3px #b2b2b2d9;
}

main.homePage section.topicos #tempoTela p:last-child {
    font-size: 1.5rem;
    text-align: justify;
}

main.homePage section.topicos #irmaoTela {
    box-shadow: 2px 1px 9px black;
    height: 30vw;
    margin-left: 1vw;
    background-color: white;
    margin: 0 0vw 0 3vw;
    border: 2px black solid;
    transition: all 0.5s;
}

main.homePage section.topicos #irmaoTela img {
    height: 17vw;
    width: 30vw;
    margin: 0 0 0.4vw 0.6px;
    background-repeat: round;
    border: 2px black solid;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0), rgb(2, 62, 100, 1));
}

main.homePage section.topicos div.maior {
    display: flex;
    border: 2px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0.8vw;
    padding-bottom: 0.2vw;
}

main.homePage section.topicos #irmaoTela img.imgDois {
    height: 3vw;
    width: 4vw;
    background-repeat: round;
    border: 2px black solid;
    border-radius: 60%;
    margin: 0 0.5vw 0 0.8vw;
}

main.homePage section.topicos #irmaoTela .divDois h4 {
    font-weight: bold;
    margin-top: 0.5vw;
}

main.homePage section.topicos p span {
    background-color: rgb(2, 62, 100, 1);
    padding: 0.4vw 1vw 0.4vw 1vw;
    border-radius: 10vw;
    color: rgb(227, 227, 227);
    font-size: 0.8rem;
    margin: 10px 10px 0 10px;
    margin-left: 80%;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px black solid;

}

main.homePage section.topicos #irmaoTela h3 {
    font-size: 2rem;
    margin: 0.3vw 0 0 10px;
    text-shadow: 3px 3px 3px #b2b2b2d9;
}

main.homePage section.topicos #irmaoTela p {
    margin-left: 12px;
    color: rgb(61, 61, 61);
}

main.homePage section.topicos #tempoTela p {
    font-size: 1.5vw;
    color: rgb(61, 61, 61);
}

main.homePage section.topicos #tempoTela h3 {
    margin-top: 2vw;
    text-align: right;
    font-size: 1.2vw;
    color: rgb(0, 0, 0);
    font-style: italic;
}

main.homePage section.topicos .con-like {
    margin-top: 1vw;
    margin-left: 85%;
}

/*------------------------ 
        tres artigos 
--------------------------*/
main.homePage section.segunda {
    margin: 0 5vw 0 5vw;
    padding-bottom: 10vw;
    border-radius: 0 0 10px 10px;
}

main.homePage section.segunda div.topicos2 {
    display: flex;
    justify-content: center;
}

main.homePage section.segunda div.topicos2  div.artigoUm {
    box-shadow: 2px 1px 9px black;
    height: 30vw;
    background-color: white;
    border: 2px black solid;
}

main.homePage section.segunda div.topicos2  div.artigoUm img {
    height: 17vw;
    width: 26vw;
    margin: 0 0 0.5vw 0.6px;
    background-repeat: round;
    border: 2px black solid;
    transition: ease-in-out 0.5s;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0), rgb(2, 62, 100, 1));
}

main.homePage section.segunda div.topicos2  div.artigoUm img.imgDois {
    height: 3vw;
    width: 4vw;
    background-repeat: round;
    border: 2px black solid;
    border-radius: 60%;
    margin: 0 0.5vw 0 0.8vw;
}

main.homePage section.segunda .maior {
    display: flex;
    border-bottom: 2px black solid;
    margin-bottom: 1vw;
}

main.homePage section.segunda div.topicos2  div.artigoUm h3 {
    font-size: 1.8rem;
    margin: 0.3vw 0 0 10px;
    text-shadow: 3px 3px 3px #b2b2b2d9;
    transition: ease-in-out 0.5s;
}

main.homePage section.segunda div.topicos2  div.artigoUm p {
    margin-left: 12px;
    color: rgb(61, 61, 61);
}

main.homePage section.segunda div.topicos2  div.artigoUm p span {
    background-color: rgb(2, 62, 100, 1);
    padding: 0.4vw 1vw 0.4vw 1vw;
    border-radius: 10vw;
    color: rgb(227, 227, 227);
    font-size: 0.8rem;
    margin: 10px 10px 0 10px;
    margin-left: 20vw;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px black solid;
    transition: ease-in-out 0.5s;
}

main.homePage section.segunda div.topicos2  div.artigoDois {
    box-shadow: 2px 1px 9px black;
    height: 30vw;
    background-color: white;
    border: 2px black solid;
    margin-left: 2vw;
}

main.homePage section.segunda div.topicos2  div.artigoDois img {
    height: 17vw;
    width: 26vw;
    margin: 0 0 0.5vw 0.6px;
    background-repeat: round;
    border: 2px black solid;
    transition: ease-in-out 0.5s;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0), rgb(2, 62, 100, 1));
}

main.homePage section.segunda div.topicos2  div.artigoDois img.imgDois {
    height: 3vw;
    width: 4vw;
    background-repeat: round;
    border: 2px black solid;
    border-radius: 60%;
    margin: 0 0.5vw 0 0.8vw;
}

main.homePage section.segunda div.topicos2  div.artigoDois h3 {
    font-size: 1.8rem;
    margin: 0.3vw 0 0 10px;
    text-shadow: 3px 3px 3px #b2b2b2d9;
    transition: ease-in-out 0.5s;
}

main.homePage section.segunda div.topicos2  div.artigoDois p {
    margin-left: 12px;
    color: rgb(61, 61, 61);
}

main.homePage section.segunda div.topicos2  div.artigoDois p span {
    background-color: rgb(2, 62, 100, 1);
    padding: 0.4vw 1vw 0.4vw 1vw;
    border-radius: 10vw;
    color: rgb(227, 227, 227);
    font-size: 0.8rem;
    margin: 10px 10px 0 10px;
    margin-left: 20vw;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px black solid;
    transition: ease-in-out 0.5s;
}

main.homePage section.segunda div.topicos2  div.artigoTres {
    box-shadow: 2px 1px 9px black;
    height: 30vw;
    background-color: white;
    border: 2px black solid;
    margin-left: 2vw;
}

main.homePage section.segunda div.topicos2  div.artigoTres img {
    height: 17vw;
    width: 26vw;
    margin: 0 0 0.5vw 0.6px;
    background-repeat: round;
    border: 2px black solid;
    transition: ease-in-out 0.5s;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0), rgb(2, 62, 100, 1));

}

main.homePage section.segunda div.topicos2  div.artigoTres img.imgDois {
    height: 3vw;
    width: 4vw;
    background-repeat: round;
    border: 2px black solid;
    border-radius: 60%;
    margin: 0 0.5vw 0 0.8vw;
}

main.homePage section.segunda div.topicos2  div.artigoTres h3 {
    font-size: 1.8rem;
    margin: 0.3vw 0 0 10px;
    text-shadow: 3px 3px 3px #b2b2b2d9;
    transition: ease-in-out 0.5s;
}

main.homePage section.segunda div.topicos2  div.artigoTres p {
    margin-left: 12px;
    color: rgb(61, 61, 61);
}

main.homePage section.segunda div.topicos2  div.artigoTres p span {
    background-color: rgb(2, 62, 100, 1);
    padding: 0.4vw 1vw 0.4vw 1vw;
    border-radius: 10vw;
    color: rgb(227, 227, 227);
    font-size: 0.8rem;
    margin: 10px 10px 0 10px;
    margin-left: 20vw;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px black solid;
    transition: ease-in-out 0.5s;
}

main.homePage section.segunda div.topicos2  div {
    transition: .2s ease-in;
}

main.homePage section.segunda div.topicos2  div.artigoUm:hover {
    box-shadow: 2px 1px 15px black;
}

main.homePage section.segunda div.topicos2  div.artigoDois:hover {
    box-shadow: 2px 1px 15px black;
}

main.homePage section.segunda div.topicos2 div.artigoTres:hover {
    box-shadow: 2px 1px 15px black;
}

main.homePage section.segunda div.topicos2 .con-like {
    margin-left: 85%;
    margin-top: 1vw;
    transition: all 0.5s;
}

main.homePage section.segunda div.divDois h4 {
    font-weight: bold;
    margin-top: 0.5vw;
}

main.homePage section.segunda div.maior div.divDois p {
    margin-left: 0;
}

main.homePage section.segunda div.topicos2 a:hover .con-like {
    margin-left: 24.5vw
}

main.homePage section.segunda div.topicos2  div.artigoUm a:hover img.um {
    width: 28vw;
}

main.homePage section.segunda div.topicos2  div.artigoUm  a:hover p span {
    margin-left: 22vw;
}

main.homePage section.segunda div.topicos2  div.artigoUm a:hover h3 {
    font-size: 2rem;
}

main.homePage section.segunda div.topicos2  div.artigoDois a:hover img.um {
    width: 28vw;
}

main.homePage section.segunda div.topicos2  div.artigoDois a:hover p span {
    margin-left: 22vw;
}

main.homePage section.segunda div.topicos2  div.artigoDois a:hover h3 {
    font-size: 2rem;
}

main.homePage section.segunda div.topicos2  div.artigoTres a:hover img.um {
    width: 28vw;
}

main.homePage section.segunda div.topicos2  div.artigoTres a:hover p span {
    margin-left: 22vw;
}

main.homePage section.segunda div.topicos2 div.artigoTres a:hover h3 {
    font-size: 2rem;

}

@media (max-width: 1920px) and (min-width: 1281px) {
    main.homePage div#tempoTela p {
        font-size: 2.2vw;
    }
    
    main.homePage section.segunda div.topicos2 div.artigoUm {
        margin-left: 5vw;
    }

    main.homePage section.segunda div.topicos2 div.artigoTres {
        margin-right: 5vw;
    }

}

@media (max-width: 1280px) and (min-width: 601px){
    main.homePage #irmaoTela h3 {
        font-size: 1.8rem;
    }

    main.homePage #irmaoTela {
        height: 32vw;
    }

    main.homePage section.segunda div.topicos2 div.artigoUm {
        height: 35vw;
        margin-left: 5vw;
    }

    main.homePage section.segunda div.topicos2 div.artigoUm h3 {
        font-size: 1.8rem;
    }

    main.homePage section.segunda div.topicos2 div.artigoDois {
        height: 35vw;
    }

    main.homePage section.segunda div.topicos2 div.artigoDois h3 {
        font-size: 1.8rem;
    }

    main.homePage section.segunda div.topicos2 div.artigoTres {
        height: 35vw;
        margin-right: 5vw;
    }

    main.homePage section.segunda div.topicos2 a div.artigoTres h3 {
        font-size: 1.8rem;
    }

    main.homePage section.segunda div.topicos2  div.artigoUm img {
        width: 100%;
    }

    main.homePage section.segunda div.topicos2  div.artigoDois img {
        width: 100%;
    }

    main.homePage section.segunda div.topicos2  div.artigoTres img {
        width: 100%;
    }

    main.homePage section.segunda div.topicos2 .con-like {
        margin-left: 90%;
    }

    main.homePage section.segunda div.topicos2 div.artigoUm  a:hover img.um {
        width: 100%;
    }

    main.homePage section.segunda div.topicos2 div.artigoUm a:hover h3  {
        font-size: 1.8rem;

    }

    main.homePage section.segunda div.topicos2  div.artigoDois  a:hover img.um {
        width: 100%;
    }

    main.homePage section.segunda div.topicos2 div.artigoDois  a:hover h3 {
        font-size: 1.8rem;
    }

    main.homePage section.segunda div.topicos2 div.artigoTres a:hover img.um {
        width: 100%;
    }

    main.homePage section.segunda div.topicos2  div.artigoTres a:hover h3 {
        font-size: 1.8rem;

    }
}

@media (max-width: 600px) {
    main.homePage section.topicos {
        padding: 8vw 2vw 5vw 2vw;
    }

    main.homePage section.topicos {
        display: block;
    }

    main.homePage section.topicos #tempoTela {
        margin: 0 8vw 15vw 8vw;
        padding-right: 0vw;
    }

    main.homePage section.topicos #tempoTela h2 {
        font-size: 5vw;
    }

    main.homePage section.topicos div#tempoTela p {
        font-size: 3vw;
    }

    main.homePage section.topicos #tempoTela h3 {
        font-size: 4vw;
    }

    main.homePage section.topicos #irmaoTela {
        box-shadow: 2px 1px 9px black;
        height: 60vw;
        background-color: white;
        margin: 0 3vw 0 3vw;
        border: 2px black solid;
        transition: all 0.5s;
    }

    main.homePage section.topicos #irmaoTela img {
        height: 30vw;
        width: 100%;
        margin: 0 0 0.4vw 0.6px;
    }

    main.homePage section.topicos #irmaoTela img.imgDois {
        height: 6vw;
        width: 8vw;
        margin: 0 1vw 0 0.8vw;
    }

    main.homePage section.topicos p span {
        display: none;
    }

    main.homePage section.topicos #irmaoTela h3 {
        font-size: 1.2rem;
        margin: 0.3vw 0 0 10px;
    }

    main.homePage section.topicos #irmaoTela p {
        font-size: 0.8rem;
        margin: 0.3vw 0 0 10px;
    }

    main.homePage section.topicos #tempoTela p {
        font-size: 5vw;
        color: rgb(61, 61, 61);
    }

    main.homePage section.topicos .con-like {
        margin-left: 90%;
        width: 5vw;
    }

    main.homePage section.segunda div.topicos2 {
        display: block;
    }

    main.homePage section.segunda div.topicos2 p {
        font-size: 0.8rem;
    }

    main.homePage section.segunda div.topicos2  div.artigoUm {
        height: 60vw;
        margin: 0 5vw 0 5vw;
    }

    main.homePage section.segunda div.topicos2  div.artigoUm img {
        height: 30vw;
        width: 100%;
        margin: 0 0 0.4vw 0.6px;
    }

    main.homePage section.segunda div.topicos2  div.artigoUm img.imgDois {
        height: 6vw;
        width: 8vw;
        margin: 0 1vw 0 0.8vw;
    }

    main.homePage section.segunda div.topicos2  div.artigoUm h3 {
        font-size: 1.2rem;
        margin: 0.3vw 0 0 10px;
    }

    main.homePage section.segunda div.topicos2  div.artigoUm p span {
        display: none;
    }

    main.homePage section.segunda .topicos2 {
        display: block;
    }

    main.homePage section.segunda div.topicos2  div.artigoDois {
        height: 60vw;
        margin: 5vw 5vw 0 5vw;
    }

    main.homePage section.segunda div.topicos2  div.artigoDois img {
        height: 30vw;
        width: 100%;
        margin: 0 0 0.4vw 0.6px;
    }

    main.homePage section.segunda div.topicos2  div.artigoDois img.imgDois {
        height: 6vw;
        width: 8vw;
        margin: 0 1vw 0 0.8vw;
    }

    main.homePage section.segunda div.topicos2  div.artigoDois h3 {
        font-size: 1.2rem;
        margin: 0.3vw 0 0 10px;
    }

    main.homePage section.segunda div.topicos2  div.artigoDois p span {
        display: none;
    }

    main.homePage section.segunda div.topicos2  div.artigoTres {
        height: 60vw;
        margin: 5vw 5vw 0 5vw;
    }

    main.homePage section.segunda div.topicos2  div.artigoTres img {
        height: 30vw;
        width: 100%;
        margin: 0 0 0.4vw 0.6px;
    }

    main.homePage section.segunda div.topicos2  div.artigoTres img.imgDois {
        height: 6vw;
        width: 8vw;
        margin: 0 1vw 0 0.8vw;
    }
    main.homePage section.segunda div.topicos2  div.artigoTres h3 {
        font-size: 1.2rem;
        margin: 0.3vw 0 0 10px;
    }

    main.homePage section.segunda div.topicos2  div.artigoTres p span {
        display: none;
    }

    main.homePage section.segunda div.topicos2  .con-like {
        margin-left: 90%;
    }

    main.homePage section.segunda div.topicos2  div.artigoUm a:hover img.um {
        width: 100%;
    }

    main.homePage section.segunda div.topicos2  div.artigoUm a:hover h3 {
        font-size: 1.2rem;

    }

    main.homePage section.segunda div.topicos2  div.artigoDois a:hover img.um {
        width: 100%;
    }

    main.homePage section.segunda div.topicos2  div.artigoDois a:hover h3 {
        font-size: 1.2rem;
    }

    main.homePage section.segunda div.topicos2  div.artigoTres a:hover img.um {
        width: 100%;
    }

    main.homePage section.segunda div.topicos2  div.artigoTres a:hover h3 {
        font-size: 1.2rem;

    }

    main.homePage section.segunda div.topicos2 .con-like {
        width: 6%;
        margin-left: 90%;
    }

}