header {
    background-image: url(../src/src6/fundo_sobre.webp);
}

header p {
    margin-left: 25vw;
}

/*==========================
    Formatação do body
============================*/

main section.principal {
    margin: 0vw 5vw 0 5vw;
    padding: 10vw 2vw 5vw 2vw;
    border-bottom: 2px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main div.borda {
    padding: 0 8vw 0 8vw;
}

main section.principal p {
    font-size: 2.5rem;
    text-align: justify;
}

main section.principal h2 {
    font-weight: bold;
    font-size: 4rem;
    margin-top: 0.5vw;
    font-style: oblique;
    text-shadow: 2px 1px 9px rgb(211, 205, 205);
    text-align: center;
}

/*==========================
    segunda
============================*/

main section.segunda {
    margin: 0vw 5vw 0 5vw;
    padding: 10vw 2vw 5vw 2vw;
    border-radius: 0 0 10px 10px;
}

main section.segunda h2 {
    font-weight: bold;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 2vw;
}

main section.segunda li {
    font-size: 2rem;
    text-align: left;
    color: rgb(61, 61, 61);
    text-align: center;
}

main section.segunda ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 5vw 0 5vw;
}

@media (max-width: 1920px) and (min-width: 1281px) {
    main section.principal p {
        font-size: 2.3rem;
    }

    main section.segunda h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    main section.segunda h3 {
        font-size: 2rem;
    }

    main section.segunda p {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media (max-width: 600px) {
    header div#texTop p {
        margin: 0 0 0 16vw;
    }

    main section.principal div.maior {
        display: block;
    }

    main section.principal img {
        height: 40vw;
        width: 90%;
        margin: 0 0 0 5%;

    }

    main section.principal h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    main section.principal p {
        font-size: 1.2rem;
        text-align: justify;
    }

    main section.segunda h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    main section.segunda ul {
        display: block;
    }

    main section.segunda h3 {
        font-size: 2rem;
    }

    main section.segunda p {
        font-size: 1.2rem;
        text-align: center;
    }
}